td {

    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    border: 1px solid #e5e5e5;

}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    color: #444;
}