 td {

    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    border: 1px solid #e5e5e5;

}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: gray;
}
th {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    color: #444;
}

body{
    background-color: #f8f6f2;
    width: 100%;
    overflow-X: hidden;
}
header{
    background-image: url(./img/family.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 80%;
    float: right;
    margin-bottom: 40px;
}
h1 {
    font-family: 'Bree Serif' ;
    margin: 25px;
    text-align: center;
    color: black;
    font-size: 50px;
    float: right;
    margin-right: 0px;
    margin-top: 85px;
}
main{
    width: 80%;
    float: right;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding: 2px;
    margin: 2px;
    color: darkslategray;
    text-align: center;
    font-size: 34px;
}
p{
    font-family: 'Helvetica Neue', sans-serif;
    color: #685206;
    font-size: 27px; 
    line-height: 24px; 
    margin: 24px; 
    text-align: center; 
}
p a{
    font-family: 'Helvetica Neue', sans-serif;
    color: #685206;
    font-size: 27px; 
    line-height: 24px; 
    margin: 24px; 
    text-align: center; 
    text-decoration: none;
}
nav{
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #3e6d95;
    position: fixed;
    height: 100%;
    overflow: auto;
}
nav img {
    width: 200px;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 90px;
}

ul {
    list-style-type: none;  
  }
  
  li a {
    display: block;
    color: #e9e3e3;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Bree Serif' ;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    

  }
  
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
#gallary{
    display: inline-block;
    float: left;
    width: 100%;
    margin-top: 30px;
}
.pic {
    width: 13.33%;
    display: inline-block;
    margin-right: 35px;
  }
.pic img {
    width: 190px;
    height: 190px;
    opacity: 0.5;
    cursor: pointer;
    margin-bottom: 30px;
} 
  .pic img:hover {
    opacity: 1;
  }
  .div5{
    width:33.3%; 
    float: left;
    display: inline-block;
    margin-top: 50px; 
}
.div6{
    width:33.3%; 
    float: left; 
    display: inline-block;
    margin-top: 50px;
}
.div7{
    width:100% ; 
    margin: 0px auto; 
    margin-top:50px; 
}
.icons{
    width:100px;
    height:100px;
    margin: 0px  121px;
}
ul li {
    font-size: 27px;
    font-family: 'Helvetica Neue', sans-serif;
    color: #685206;
    text-align: left;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.div8{
    width:50%;
    float: left;
    display: inline-block;
    margin-left: 50px;
    margin-top: 30px;
}
.div9{
    width:50%;
    float: left;
    display: inline-block;
    margin-right: -50px;
    margin-top: 30px;
}
#hour{
    clear: both;
    margin-top: 100px;
    background-color: #82a3be;
    padding: 30px;
    margin-bottom: 30px;
}
mark{
    font-family: 'Bree Serif' ;
    font-weight: bolder;
    margin-left: 528px;
    color: darkslategray;
    text-align: center;
    font-size: 34px;
    background-color: #82a3be;
    

}